@import "https://noblueskydropfiles.github.io/02tbrbluesquare.css";
@import "https://malcat-gen.appspot.com/series?preset=more";
body {
background-image: url("http://i.imgur.com/inqwS95.jpg");
background-attachment: fixed;
background-clip: border-box;
background-color: white;
background-position: right 5%;
background-repeat: no-repeat;
background-size: cover;
}
#inlineContent {
background: url("") no-repeat scroll 0 -26% transparent;
display: inline-block !important;
height: 1200px !important;
left: 0 !important;
margin: auto !important;
position: fixed !important;
right: 0 !important;
top: 0 !important;
width: 1200px !important;
z-index: -1 !important;
}
/*Main list settings*/
#list_surround {
font-size: 81.25%;
line-height: 1;
margin: 0 auto;
margin-left: 20%;
width: 58% !important;
}
body {
color: #2181da!important;
font-family: arial;
font-weight:bold;
}
/*Links settings*/
a {
-moz-transition: all 0.25s ease-in-out 0s;
color: #2181da;
text-decoration: none;
text-shadow: none;
}
/*Links hover settings*/
a:hover {
color: #2181da;
text-shadow: 0 1px rgba(255, 255, 255, 0.15);
}

/*Menu*/

/*AFFECT ALL LINKS*/

.status_selected:hover, .status_not_selected:hover {
background-color:#f2f2f2 !important;
}

.status_selected {
background-color: #2181da !important;
}
/*Element width and settings*/
.status_not_selected, .status_selected {
     border: 0px none ! important;
     height: auto ! important;
     padding: 0px 8px;
     text-align: center ! important;
     width: 10.5% ! important;
}
.status_selected a {
     color: #ffffff;
     display:block;
}
.status_not_selected a {
display:block;
}
.status_selected a:hover {
     color: red!important;
}
/*Element height*/
[cellspacing="0"] {
line-height: 25px;
}

/*ALL ANIME LINK AREA*/
.status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
position: fixed;
margin-top: 11% !important;
left: 84% !important;
background-color:white;
}

/*CURRENTLY WATCHING/READING LINK AREA*/
.status_selected, .status_not_selected {
position: fixed;
margin-top: 15% !important;
left:84% !important;
background-color:white;
}

/*COMPLETED LINK AREA*/
.status_selected + .status_not_selected, .status_not_selected + .status_selected, .status_not_selected + .status_not_selected {
position: fixed;
margin-top:19% !important;
left:84% !important;
background-color:white;
}


/*ON HOLD LINK AREA*/
.status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected {
position: fixed;
margin-top: 23% !important;
left:84% !important;
background-color:white;
}

/*DROPPED LINK AREA*/
.status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
position: fixed;
margin-top: 27% !important;
left: 84% !important;
background-color:white;
}

/*PLANNED LINK AREA*/
.status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
position: fixed;
margin-top: 31% !important;
left: 84% !important;
background-color:white;
}
/*End of menu*/

/*Headers (with color)*/
.table_header {
font-size:0px;
background-color: transparent;
border-bottom:solid 1px #2181da !important;
}
.table_header:first-of-type {
border-radius: 3px 0 0 0;
}
.table_header:nth-of-type(2) {
text-align: left;
}
.table_header:last-of-type {
border-radius: 0 3px 0 0;
}
/*Rows colors*/
.td1 {
-moz-transition: all 0.25s ease-in-out 0s;
background-color: white;
border-bottom:solid 1px #2181da !important;
}
.td2 {
-moz-transition: all 0.25s ease-in-out 0s;
background-color: white;
border-bottom:solid 1px #2181da !important;
}
.td1 a {
color:#2181da !important;
}
.td2 a {
color:#2181da !important;
}
/*Left column colors (numbers column) if necessary*/
.td1:first-of-type {
background-color:#2181da;
font-size:0px;
}
.td2:first-of-type {
background-color:#2181da;
font-size:0px;
}

tr:hover [class^="td"] {
background-color: #FFF;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
text-align: left;
}
noindex:-moz-any-link, tr:hover td.td1, tr:hover td.td2 {
font-size: 15px;
}
.table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
border: 0 none;
padding: 4px;
text-align: center;
vertical-align: middle;
}
/*Rows height*/
.table_header, .td1, .td2, .category_totals {
line-height: 30px;
}
.borderRBL {
line-height: normal !important;
}

.category_totals {
-moz-transition: all 0.25s ease-in-out 0s;
background-color: rgba(72, 64, 87, 0);
border-radius: 0 0 3px 3px;
color: rgba(51, 51, 51, 0);
text-align: center;
}
.category_totals:hover {
background-color: tranparent;
color: #2181da;
}
[class^="header_"] * {
font-size: 50px;
height: 60px;
line-height: 24px;
padding-bottom: 4px;
text-align: center;
vertical-align: bottom;
}

.header_title {
border-radius: 4px 4px 4px 4px;
color: #2181da;
display: inline-block;
font-style: italic;
height: auto;
padding: 0 8px 0 0;
}
#grand_totals {
background-color: #FFF;
border: 0 none;
color: #2181da;
line-height: 20px;
min-height: 20px;
padding: 8px;
text-align: center;
vertical-align: middle;
}
#copyright {
background-color: transparent;
border-radius: 3px 3px 3px 3px;
color: #FFFFFF;
line-height: 17px;
margin-top: 10px;
padding: 8px;
text-align: center;
}

#copyright:after {
content: "Theme by Nobluesky";
}

/* THUMBNAIL SETTINGS
Settings for the thumbnails of covers seen on your list. Height and width control the size, while margin-left and top can be added or taken away to change the position. Change the border size, type, or color, with the first border code.*/
.hide {
height:50px;
width:35px;
margin-left:60px;
margin-top:-51px;
background-color:transparent;
background-position:50% 50%;
background-repeat:no-repeat no-repeat;
background-size:100% 100%;
display:inline-block !important;
position: absolute;
}

/* COVER AREA
The surrounding area containing each cover pic which appears when you point to a row (requires #more CSS to see a DVD or manga cover).

Move the cover's location around with left and top.
Remove only the border-radius: 25px 25px 25px 25px; lines to take the rounded corners away.
Increase height and width to make the pics bigger.
Delete border-style: solid; to remove the border.

For changing the original background color see the bottom of the original post:
http://myanimelist.net/forum/?topicid=563993
*/
:hover + .hide {
background-size: cover;
right:82%;
top: 31%;
height: 320px;
width: 206px;

border-style: solid;
border-color: white;
border: 1px solid #2181da;
background-color: transparent;
background-position: center 50% !important;
background-repeat: no-repeat !Important;
display: block !important;
position: fixed;
}

/* PREVIEW MSG ABOVE COVERS
Remove content: "preview"; to remove the PREVIEW text.
Change the text in quotations after content to what you want it to say above your cover pic.
Top and width controls the position of the text.
*/
.hide:before {
background: transparent;
padding-bottom: 5px;
position: absolute;
text-align: center;
width: 225px;
top: -25px;
border-radius: 25px 25px 0 0;
}

/*ROW WIDTH AND SPACING
This will increase the height of your rows and move the anime title to the left. It might look funny on some layouts so you'll have to adjust it or ask for help! Height is the height, padding left is the space the anime title moves from the left.
*/
.td1:nth-of-type(2), .td2:nth-of-type(2) {
height: 42px;
padding-left: 80px;
color: red;
}

/*
REMOVE HEADER COLOR
You need this code to remove the default background colors from the header and override any related codes. You're supposed to use your own images or the default ones for the header, so this color is set to transparent so it won't get in the way. If you want the color back for some reason, remove this section.
*/
.header_title {
background-color: transparent !important;
}


/*
OTHER CODES
Stuff I had to add after site changes. You need this otherwise the headers won't be visible.
*/
tbody
{background-color: transparent;
background-image: none;}

/*
CODES (REPLACEMENT FOR "CSS FOR FOXGIRLS" IMPORT)
Used to remove the more button (which no longer works after using the code above to show covers). Also helps with settings for the tag hover option if you use that. 
*/

#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(3),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(4), 
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(5), 
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(6), 
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(7),
#list_surround tab\le:nth-of-type(n+4):hover td:nth-of-type(8) {
    display: tab\le-cell;
}

#list_surround small a:last-of-type {
    display: none !important;
}

.animetitle + small {
    visibility: visible !important;
}

#list_surround a[href*="http://myanimelist.net/panel.php?go=edit"],
#list_surround a[href*="http://myanimelist.net/editlist.php?type="], 
#list_surround a[href*="http://myanimelist.net/panel.php?go=add"] {
    visibility: visible !important;
    margin-right: 10px
}

.td1:nth-of-type(6) small, .td2:nth-of-type(6) small,
.td1:nth-of-type(5) small, .td2:nth-of-type(5) small,
.td1:nth-of-type(4) small, .td2:nth-of-type(4) small {
    visibility: visible !important;
}

.td1:nth-of-type(6) small:hover, .td2:nth-of-type(6) small:hover,
.td1:nth-of-type(5) small:hover, .td2:nth-of-type(5) small:hover,
.td1:nth-of-type(4) small:hover, .td2:nth-of-type(4) small:hover{
    text-decoration: underline;
}
.td1 small, .td2 small {
visibility: hidden;
}
.td1 a.List_LightBox, .td2 a.List_LightBox {
visibility: visible !important;
}