/*
COLOR OF THE ICONS
Change the color, and adjust the opacity for brighter color. 
Remove the display: none to match the selected icon to the other icons.
*/
 #mal\_cs\_listinfo:before,  #mal\_cs\_links:before, 
 #mal\_cs\_otherlinks:before,  #mal\_cs\_powered:before {
background: #242170;
opacity: .5;
}

/*
BORDER OF ICONS
If you're having trouble seeing the border bottom, lower the height by a pixel or two until you see it.

*/
 #mal_cs_listinfo:before,  #mal_cs_links:before,  #mal_cs_otherlinks:before,  #mal_cs_powered:before,  #mal\_cs\_listinfo:before,  #mal\_cs\_links:before, 
 #mal\_cs\_otherlinks:before,  #mal\_cs\_powered:before {
    border-color: ;
    border-style: ;
    border-width: ;
    height: 32px !important;
}

/*
BUTTONS COLOR AND BORDER
Buttons within the hover menus, not the icons themselves. 
Second code is for button color on hover. 
*/
 #mal_cs_listinfo a,  #mal_cs_links a,  #mal_cs_otherlinks a,  #mal_cs_powered a img{
    background-color: #242170 !important;
    border-color: transparent;
    border-style: solid !important;
    border-width: 1px !important;
}


 #mal\_cs\_listinfo a:hover,  #mal\_cs\_links a:hover,  #mal\_cs\_otherlinks a:hover,  #mal_cs_powered a img:hover {
background-color: #242170 !important;
}



/*
COLOR OF HOVER MENUS AND SELECTED ICONS
Remove display none from the second code to match the colors of the selected icon to the icons above. 
*/
 #mal\_cs\_listinfo div,  #mal\_cs\_links div,  #mal\_cs\_otherlinks div, 
 #mal\_cs\_powered div,  #mal\_cs\_powered dd,  #mal\_cs\_powered a  {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

 #mal\_cs\_listinfo:hover:before,  #mal\_cs\_links:hover:before, 
 #mal\_cs\_otherlinks:hover:before,  #mal\_cs\_powered:hover:before,
 #mal\_cs\_listinfo:hover:after,  #mal\_cs\_links:hover:after, 
 #mal\_cs\_otherlinks:hover:after,  #mal\_cs\_powered:hover:after {
  display: none;
  background-color: ;
  opacity: .2;
}

/*
COLOR OF USERNAME (for visitors)
You don't see this username on the menus when you're logged in, log out to see it. 
*/
 #mal\_cs\_otherlinks strong a {
color: #242170 !important;
}

 #mal\_cs\_otherlinks strong a:hover {
color: blue !important;
background-color: transparent !important;
}


/*
POSITION OF TOP BAR
Change to absolute if you want it to not scroll with the page.
*/
#mal\_control\_strip
{
position: fixed !important;
background-color: transparent !important;
background-image: url(none) !important;
}




/*
OTHER CODES
If you want to change out the icon images themselves, you can scroll down through the codes and find the background images and change them with your own.
*/

 #mal\_cs\_listinfo,  #mal\_cs\_links,  #mal\_cs\_otherlinks,  #mal\_cs\_powered {
-moz-box-sizing: border-box;
transition: all 0.4s ease 0s;
background: none no-repeat scroll 100% 0 transparent;
border: 0 none;
height: 0 !important;
overflow: hidden;
padding: 32px 0 0 !important;
position: fixed;
right: 4px;
text-align: center;
top: 4px;
z-index: 10;
width: 150px !important;
}

 #mal\_cs\_listinfo:hover,  #mal\_cs\_links:hover,  #mal\_cs\_otherlinks:hover,  #mal\_cs\_powered:hover {
height: 200px !important;
padding-top: 32px;
}

 #mal\_cs\_listinfo div,  #mal\_cs\_links div,  #mal\_cs\_otherlinks div,  #mal\_cs\_powered div,  #mal\_cs\_powered dd {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 3px 0 0;
    font-size: 0 !important;
    line-height: 0;
    margin: 0 !important;
    opacity: 0;
    padding: 6px 0 0 !important;
    transition: opacity 0.4s ease-in-out 0s;
}
 #mal\_cs\_listinfo:hover div,  #mal\_cs\_links:hover div,  #mal\_cs\_otherlinks:hover div,  #mal\_cs\_powered:hover div,  #mal\_cs\_powered:hover dd {
opacity: 1;
}
 #mal\_cs\_listinfo div:nth-of-type(2),  #mal\_cs\_links div:nth-of-type(2),  #mal\_cs\_otherlinks div:nth-of-type(2),  #mal\_cs\_powered div:nth-of-type(2) {
border-radius: 0 0 3px 3px;
padding: 4px 0 8px;
}
 #mal\_cs\_listinfo a,  #mal\_cs\_links a,  #mal\_cs\_otherlinks a,  #mal\_cs\_powered a {
background-color: rgba(64, 60, 90, 0.6);
border-radius: 3px 3px 3px 3px;
display: block;
font: 13px/17px arial,sans-serif;
margin: 4px 12px 0;
padding: 3px 0;
text-decoration: none;
}
 #mal\_cs\_listinfo a:nth-of-type(1),  #mal\_cs\_links a:nth-of-type(1),  #mal\_cs\_otherlinks a:nth-of-type(1),  #mal\_cs\_powered a:nth-of-type(1) {
margin-top: 0;
}

 #mal\_cs\_listinfo strong a strong {
font-weight: normal;
}
 #mal\_cs\_otherlinks strong {
color: #333333;
display: block;
font: bold 13px/17px arial,sans-serif !important;
padding: 0 4px 4px;
text-shadow: 0 1px 1px #FFFFFF;
}
 #mal\_cs\_otherlinks strong a {
background: none repeat scroll 0 0 transparent !important;
border-color: transparent !important;
border-radius: 0 0 0 0;
color: #333333;
display: inline;
font: bold 13px/17px arial,sans-serif !important;
margin: 0;
padding: 0;
text-shadow: 0 1px 1px #FFFFFF;
}
 #mal\_cs\_powered a {
border-radius: 0 3px 0 0 !important;
display: block !important;
margin: 0 !important;
opacity: 0;
padding: 8px 0 0 !important;
}
 #mal\_cs\_powered:hover a {
opacity: 1;
}
 #mal\_cs\_powered a img {
transition: all 0.25s ease-in-out 0s;
background: url("http://i.imgur.com/fGTjBC3.png") no-repeat scroll 50% 6px rgba(64, 60, 90, 0.6);
border-radius: 3px 3px 3px 3px;
display: block;
height: 0;
margin: 0 12px;
padding: 23px 0 0 126px;
width: 0;
}
 #mal\_cs\_powered a img:hover {
background-color: #403C5A;
}
 #mal\_cs\_powered #search {
border-radius: 0 0 3px 3px;
padding: 8px;
position: relative;
}
 #mal\_cs\_powered #search #searchBox {
-moz-box-sizing: border-box;
border-color: #BCBCBC #D6D6D6 #D6D6D6;
border-radius: 2px 2px 2px 2px;
border-style: solid;
border-width: 1px;
color: #333333;
display: inline-block;
font-family: arial,sans-serif;
font-size: 13px;
height: 28px;
padding-left: 6px !important;
padding-right: 24px !important;
vertical-align: top;
width: 100px;
}
 #mal\_cs\_powered #search #searchBox:hover,  #mal\_cs\_powered #search #searchBox:focus {
border-color: #ACACAC #C6C6C6 #C6C6C6;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
 #mal\_cs\_powered #search #searchListButton {
background: url("http://i.imgur.com/XqsilHp.png") no-repeat scroll 0 0 transparent;
border-radius: 3px 3px 3px 3px;
height: 0;
margin: 0;
padding: 16px 0 0 16px;
position: absolute;
right: 12px;
top: 14px;
width: 0;
}
 #mal\_cs\_listinfo {
background-image: url("http://i.imgur.com/UXZxrWI.png");
right: 106px;
}
 #mal\_cs\_listinfo:hover {
background-image: url("http://i.imgur.com/VcVVnod.png");
}
 #mal\_cs\_links {
background-image: url("http://i.imgur.com/LpXWTzt.png");
right: 72px;
z-index: 9;
}
 #mal\_cs\_links:hover {
background-image: url("http://i.imgur.com/oPfKrOl.png");
}
 #mal\_cs\_otherlinks {
background-image: url("http://i.imgur.com/ogmX9qC.png");
right: 38px;
z-index: 8;
}
 #mal\_cs\_otherlinks:hover {
background-image: url("http://i.imgur.com/EEGHkbF.png");
}
 #mal\_cs\_powered {
background-image: url("http://i.imgur.com/ct4BVP5.png");
right: 4px !important;
z-index: 7;
}
 #mal\_cs\_powered:hover {
background-image: url("http://i.imgur.com/TUUWtaj.png");
}
td#mal\_cs\_pic a img {
display: none;
}
#mal\_cs\_pic, #mal\_cs\_listinfo, #mal\_cs\_links {
border-right: 0 none !important;
}

 #mal\_cs\_listinfo,  #mal\_cs\_links,  #mal\_cs\_otherlinks,  #mal\_cs\_powered {
padding: 32px 0 0 !important;
}

 #mal\_cs\_listinfo:before, 
 #mal\_cs\_links:before, 
 #mal\_cs\_otherlinks:before, 
 #mal\_cs\_powered:before {
  z-index: 10 !important;
  content: "";
  left: 0 !important;
  top: 0 !important;
  width: 32px !important;
  position: absolute !important;
  border-radius: 4px;
}		

 #mal\_cs\_listinfo:after{
background-image: url(http://i.imgur.com/856wzPZ.png);
}
 #mal\_cs\_links:after{
background-image: url(http://i.imgur.com/rwvRyux.png);
}
 #mal\_cs\_otherlinks:after{
background-image: url(http://i.imgur.com/fbWr1K4.png);
} 
 #mal\_cs\_powered:after{
background-image: url(http://i.imgur.com/fKvpt1F.png);
}

 #mal\_cs\_listinfo:after, 
 #mal\_cs\_links:after, 
 #mal\_cs\_otherlinks:after, 
 #mal\_cs\_powered:after {
  z-index: 100 !important;
  content: "";
  left: 0 !important;
  top: 0 !important;
  width: 32px !important;
  height: 32px !important;
  position: absolute !important;
}




 #mal\_cs\_listinfo,  #mal\_cs\_links,  #mal\_cs\_otherlinks,  #mal\_cs\_powered {
    background-position: 0 0 !important;
}
 #mal\_cs\_listinfo {
    left: 5px !important;
    z-index: 1 !important;
}
 #mal\_cs\_links {
    left: 40px !important;
    z-index: 2 !important;
}
 #mal\_cs\_otherlinks {
    left: 75px !important;
    z-index: 3 !important;
}
 #mal\_cs\_powered {
    left: 110px !important;
    z-index: 4 !important;
}

#searchBox {
    width: 128px !important;
    margin-left: 1px;
}

#mal_cs_powered #search #searchListButton {
    right: 15px !important;
    top: 12px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#searchBox {
    width: 96px !important;
}
}